body{
  font-family: barlow; sans-serif;
}

h1{
  font-size: 72px;
  color: #4A4A4A;
  font-family: barlow; sans-serif;
}
h2{
  font-size: 40px;
  color: #4A4A4A;
  font-family: barlow; sans-serif;
  text-align: center;
  margin-top: 23%;
}
h3{
  font-size: 40px;
  color: #4A4A4A;
  text-align: center;

}
p{
  font-size: 30px;
  color: #4A4A4A;
  font-family: barlow; sans-serif;
  text-align: right;
}

.box-imagen{
  display: flex;
  justify-content: center;
  width:100%;
  height: 600px;
  margin: 0;
}

.image{
  width: 100%;

}

.box-imagen2 {

}

.imagen {
  width: 100%;
  height: 100%;
  padding-left:24px;
  padding-right:24px;
  z-index: 2;
}

.imagen2 {
  width: 50%;
  height: 50%;
  padding-left:24px;
  padding-right:24px;
  z-index: 2;
}

.textos{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.presentation{
  font-size: 30px;
  color: #4A4A4A;
  font-family: barlow; sans-serif;
  text-align: center;

}

.quote{
  font-size: 50px;
  color: #ADEEE5;
  padding-bottom: 45px;
}

.proyectimage1{
  width: 25%;
  height: %;
}
.title-proyect1{
  font-size: 50px;
  color: #4A4A4A;
  text-align: left;
}
.title-proyect{
  font-size: 50px;
  color: #4A4A4A;
  text-align: center;
}

.proyects{
  float: left;
  margin-right: 100px;
  margin-left: 300px;
}


.proyects2{
  float: left;
  margin-left: 100px;
  }
.explanation-proyect{
  font-size: 23px;
  color: #4A4A4A;
  text-align: left;

}


.izq {
  float: left;
}

.drch {
  float: right;
}


.linea {
  background-color: rgba(197, 243, 236, 0.5);
  width: 100%;
  height: 4px
}

li {
    float:left;

}
.padre{
  text-align: right;
}

.image {
  padding: 20px;
}

p{
  text-align: left;
}
.parrafo {
  font-size: 55px;
  padding-left: 25px;
}
